:root {
  --bs-body-font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Arial, sans-serif;
  --bs-font-sans-serif: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Arial, sans-serif;
}

body,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body .quarto-title-block,
body .sidebar,
body .callout,
body table,
body .gt_table {
  font-family: var(--bs-body-font-family) !important;
}

body code,
body pre,
body kbd,
body samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", monospace !important;
}
